video{
  width: 300px;
  height: 300px;
}
html {
  height: 100%;
  width: 100%;
  color: black;
}
body{
  background-color: #f5f5f5;
  color: #000000;;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: canter;
}
header {
  background-color: #ffde59;
  color: black;
  padding: 20px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}

.elemento-fijo {
  position: fixed;
  top: 450px; 
  left: 10px;
  background-color: #f0f0f0;
  padding: 10px;
}

body {
  background-image: url(Cheese.png);
  background-size: 800px;
  background-repeat:repeat;
}

header {
  content: center;
}

footer{
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: start;
}